fastapi
uvicorn
uvicorn[standard]
gunicorn
python-multipart
pypdf
sqlalchemy
bcrypt
python-jose[cryptography]
pydantic
pydantic-settings
email-validator
google-generativeai
psycopg2-binary
python-dotenv